@use 'custom';

body{
    background-color: red;
    color: white;
}
body{
    background-color: red;
    color: white;
}
body{
    background-color: red;
    color: white;
}
body{
    background-color: red;
    color: white;
}